<!DOCTYPE html>
<html>
<head>
  <title>Fakebook - Debugging Facebook Authentication</title>
  <link rel="shortcut icon" href="facebook.ico">
  <link href='https://fonts.googleapis.com/css?family=Signika+Negative:400,600' rel='stylesheet' type='text/css'>
  <style type="text/css">
    body {
      margin: 0px;
    }

    .header {
      height:           82px;
      background-color: #3B5998;
    }

    .header_content {
      color:        #FFFFFF;
      width:        920px;
      margin:       0px auto;
      font-size:    22pt;
      padding-top:  30px;
      font-family: 'Signika Negative', sans-serif;
    }

    .main {
      background: #FFFFFF;                                                                                                  /* Old browsers */
      background: -moz-linear-gradient(top,  #FFFFFF 0%, #D3D8E8 100%);                                                     /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#D3D8E8));        /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  #FFFFFF 0%,#D3D8E8 100%);                                                   /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  #FFFFFF 0%,#D3D8E8 100%);                                                        /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  #FFFFFF 0%,#D3D8E8 100%);                                                       /* IE10+ */
      background: linear-gradient(to bottom,  #FFFFFF 0%,#D3D8E8 100%);                                                     /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#D3D8E8', GradientType=0 ); /* IE6-9 */

      min-height: 500px;

      margin-top:    20px;
      margin-bottom: 20px;
    }

    .main_content {
      width:          800px;
      margin:         0px auto;
      font-family:    'lucida grande', tahoma, verdana, arial, sans-serif;
      padding-bottom: 60px;
    }

    .main_title {
      font-size:      24pt;
      padding-bottom: 40px;
    }

    .user_box {
      margin:           10px;
      height:           70px;
      background-color: #CCCCEE;
    }

    .user_box img, .user_box div {
      float:       left;
      height:      50px;
      margin:      10px;
      display:     inline-block;
      padding:     auto;
      line-height: 50px;
    }

    .user_name {
      width:  420px;
      margin: 0px auto;
    }

    .user_box button {
      border-radius:         5px;
      -moz-border-radius:    5px;
      -webkit-border-radius: 5px;

      padding: 7px 20px;

      text-shadow:    0 1px 2px rgba(0,0,0,0.5);
      letter-spacing: 1px;

      font-size: 12pt;

      cursor: pointer;
    }

    .sign_in_button {
      background: #67AE55;                                                                                                  /* Old browsers */
      background: -moz-linear-gradient(top,  #67AE55 0%, #578843 100%);                                                     /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#67AE55), color-stop(100%,#578843));        /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  #67AE55 0%,#578843 100%);                                                   /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  #67AE55 0%,#578843 100%);                                                        /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  #67AE55 0%,#578843 100%);                                                       /* IE10+ */
      background: linear-gradient(to bottom,  #67AE55 0%,#578843 100%);                                                     /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67AE55', endColorstr='#578843', GradientType=0 ); /* IE6-9 */

      border-color: #3B6E22 #3B6E22 #2C5115;

      color: #FFFFFF;
    }

    .revoke_button {
      background: #B25D57;                                                                                                 /* Old browsers */
      background: -moz-linear-gradient(top,  #B25D57 0%, #874843 100%);                                                    /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#B25D57), color-stop(100%,#874843));       /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  #B25D57 0%,#874843 100%);                                                  /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  #B25D57 0%,#874843 100%);                                                       /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  #B25D57 0%,#874843 100%);                                                      /* IE10+ */
      background: linear-gradient(to bottom,  #B25D57 0%,#874843 100%);                                                    /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#B25D57', endColorstr='#874843',GradientType=0 ); /* IE6-9 */

      border-color: #6E3B22 #6E3B22 #512C15;

      color: #FFFFFF;
    }

    .footer {
      height:     100px;
      padding-top: 20px;
    }

    .footer_content {
      width:       920px;
      margin:      0px auto;
      font-size:   10pt;
      font-family: Verdana, Geneva, sans-serif
    }
  </style>
  <script>
  function load_buttons(){
    var buttons = document.getElementsByTagName('button');
    for(var i = 0; i < buttons.length; i++){
      buttons[i].addEventListener('click', function(){
        window.location.href = this.getAttribute('href');
      });
    }
  }
  </script>
</head>
<body onload="javascript: load_buttons();">
  <div class="header">
    <div class="header_content">Fakebook - OAuth Monkey Patch!</div>
  </div>
  <div class="main">
    <div class="main_content">
      <div class="main_title">Choose an user or revoke permissions</div>
      <% @users.each do |user| %>
      <div class="user_box">
        <img src="<%= user.image_url %>" />
        <div class="user_name"><%= user.human_name %></div>
        <div class="user_buttons">
          <button type="button" href="<%= sign_in_url user.name %>" class="sign_in_button">Sign-In</button>
          <button type="button" href="<%= sign_in_url user.name %>" class="revoke_button">Revoke</button>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <div class="footer">
    <div class="footer_content">
      Fakebook - Don't create a lot of facebook accounts for debug!
      <br/>
      <a href="http://github.com/redealumni/fakebook">http://github.com/redealumni/fakebook</a>
    </div>
  </div>
</body>
</html>
